@import '~@alejosdev/theme-provider/dist/styles/shared.scss';

.textAreaRoot {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

.inputLabel {
    display: block;
    left: 1rem;
    margin: 0.2rem 0.5rem;

    @media (prefers-color-scheme: dark) {
        &.inputLabel {
            color: #fff;
        }
    }
}

.textArea {
    display: block;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0px 0px 10px 0px;
    // min-height: $input-height * 2;
    field-sizing: content;
    min-height: 1lh;
    width: 100%;
    border: 1px solid darken($default-bg, 30%);
    resize: none;
    &:focus {
        outline: none;
    }
    background-color: $default-bg;
    @media (prefers-color-scheme: dark) {
        color: $text-color-dark;
        background-color: $default-bg-dark;
        border-color: lighten($default-bg-dark, 50%);
    }
}

.filled {
    border: none;
}

.charCount {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.5);

    @media (prefers-color-scheme: dark) {
        color: $text-color-dark;
        opacity: 0.8;
    }
}
