@import '~@alejosdev/theme-provider/dist/styles/shared.scss';

.input {
    &.input {
        background-color: var(--color-to-apply);
    }
}

.dialogFrame {
    &.dialogFrame {
        width: 230px;
        height: auto;
        border-radius: 14px;
    }
    .dialogFooter {
        &.dialogFooter {
            justify-content: center;
        }
    }
}

.dialogBody {
    &.dialogBody {
        display: flex;
        justify-content: center;
    }
}

.dialogOverLay {
    &.dialogOverLay {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
