@import '~@alejosdev/theme-provider/dist/styles/shared.scss';

.button {
    align-items: center;
    border-color: $button-border-color;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: $button-default-radius;
    cursor: pointer;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.9rem;
    height: $button-height;
    margin: 0 0.2rem 0.5rem 0.2rem;
    padding: 0;
    position: relative;
    transition: background-color 0.6s;

    span {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
        &,
        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    &.sm {
        height: $button-height - 5px;
        span {
            padding: 0px 0.5rem;
            font-weight: 500;
            font-size: small;
        }
    }
    &.lg {
        height: $button-height + 10px;
        span {
            padding: 0px 1rem;
            font-weight: 500;
            font-size: large;
        }
    }
}

.buttonContent {
    padding: 0px 0.7rem;
    font-weight: 400;
}

.default {
    background-color: $button-bg;
    &:hover {
        background-color: darken($button-bg, 15%);
    }
    span {
        @include text-contrast($button-bg);
    }
    // .iconWrapper {
    //     background-color: darken($button-bg, 15%);
    //     @include text-contrast($button-bg);
    // }

    &.flat {
        background-color: transparent;
        border: 2px solid $button-bg;
    }

    &.flat .buttonContent {
        color: $button-bg;
    }
    &.flat.flat:hover {
        background-color: $button-bg;

        .buttonContent {
            @include text-contrast($button-bg);
        }
    }
}

.rounded {
    border-radius: $button-rounded-radius;
}

.iconWrapper {
    align-items: center;
    border-radius: $button-default-radius;
    display: flex;
    justify-content: center;
    position: absolute;
    @include size($button-height);
}

.button {
    &.lg {
        .iconWrapper {
            @include size($button-height + 10px);
        }
    }
}

.rounded .iconWrapper {
    border-radius: $button-rounded-radius;
}

@mixin apply-to-button($color, $percentaje: 10%) {
    background-color: $color;
    box-shadow: 0px 3px 0px 0px darken($color, $percentaje);
    &:hover {
        background-color: darken($color, 15%);
    }
    span {
        @include text-contrast($color);
    }
    // .iconWrapper {
    //     background-color: darken($color, $percentaje);
    //     @include text-contrast($color);
    // }
    .icon {
        @include text-contrast($color);
    }
    &.flat {
        background-color: transparent;
        border: 2px solid $color;
        box-shadow: none;

        .buttonContent {
            color: $color;
            font-weight: 400;
        }
        &:hover {
            background-color: $color;
            .buttonContent {
                @include text-contrast($color);
            }
        }
    }
}

.primary {
    @include apply-to-button($primary);
}

.secondary {
    @include apply-to-button($secondary);
}

.success {
    @include apply-to-button($success);
}

.danger {
    @include apply-to-button($error);
}

.info {
    @include apply-to-button($info);
}

.warning {
    @include apply-to-button($warning, 30%);
}

.dark {
    @include apply-to-button($dark-color);
}

.light {
    @include apply-to-button($light-color);
    color: $text-color-light;
}

// .flat {
//     background-color: transparent;
//     border: 2px solid #fff;
//     .buttonContent {
//         color: #fff;
//     }
// }

.block {
    flex: 1;
    width: 100%;
    & > span.buttonContent {
        flex: 1;
        text-align: center;
    }
}
