@import '~@alejosdev/theme-provider/dist/styles/shared.scss';

.cell {
    &.cell {
        opacity: 0.5;

        color: $text-color-light;

        @media (prefers-color-scheme: dark) {
            color: $text-color-dark;
        }
        & > span {
            display: block;
            text-align: center;
        }
    }
}
