@import '~@alejosdev/theme-provider/dist/styles/shared.scss';

.step {
    h3 {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 1rem;
        color: $text-color-light;
        @media (prefers-color-scheme: dark) {
            color: $text-color-dark;
        }
    }
}

.description {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: #848484;
}
