@import '~@alejosdev/theme-provider/dist/styles/shared.scss';

.root {
    display: flex;
    flex-direction: column;
}

.input {
    width: 4rem;
    text-align: center;
    max-width: 100%;
    min-height: 1.5rem;
    padding: 0rem 0.5rem;
    font-size: 1.5rem;
    margin: 0;
    background-color: $default-bg;
    border: 1px solid darken($default-bg, 30%);
    border-radius: 20px;
    color: $text-color-light;

    &::placeholder {
        color: $default-bg;
        transition: color 0.2s;
    }

    @media (prefers-color-scheme: dark) {
        color: $text-color-dark;
        background-color: $default-bg-dark;
        border-color: darken($default-bg-dark, 30%);

        &::placeholder {
            color: $default-bg-dark;
        }
    }
}

.input:focus {
    border-width: 1px;
    outline: none;
    border-color: $primary;
    &::placeholder {
        color: rgba(0, 0, 0, 0.4);
    }
    @media (prefers-color-scheme: dark) {
        &::placeholder {
            color: rgba(255, 255, 255, 0.4);
        }
    }
}
